{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container my-5">
    <br />
    <h1>Upload multiple images in django</h1>
    <br />
    <a href="{% url 'addproduct' %}" class="btn btn-success btn-sm">Add product</a>
    <br />
    <hr />
    <div class="row">
            
        {% for product in productlist %}
            {% if productlist|length > 0 %}
          <div class="col-md-4">
            <div class="card m-4" style="width: 18rem;">
                <center>
                    
                    <img src="{{product.banner.url}}" class="card-img-top" alt="..." style="width: 200px; height: 200px;">
                </center>
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <a href="{% url 'productdetail' product.id %}" class="btn btn-primary btn-sm">Detail</a>
                    <a href="{% url 'addimage' product.id %}" class="btn btn-secondary btn-sm">Add images</a>
                </div>
            </div>
            {% else %}
                <p>No product yet</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}